<nav class="navbar navbar-expand-md bg-body-light border-bottom navCss sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compact-disc"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav color">
        <a class="nav-link" href="/listing">Explore All</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" method="post" action="/listing/search">
          <input class="form-control me-2 search-input" type="search" name="search" placeholder="Search Destinations" required>
          <button class="btn btn-search" type="submit"> <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav color ms-auto">
        <a class="nav-link" href="/listing/api/new">Ober add new</a>
        <%if(!currentUser){%>
        <a class="nav-link " aria-current="page" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
      <%  } %>
      <%if(currentUser){%>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <%  } %>
      </div>
    </div>
  </div>
</nav>